html {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1000px;
  background-color: #ffffff;
}

h4 {
	font-size: 20px;
	font-weight: normal;
}

.head-logo {
	padding: 15px 0;
	text-align: center;
}

.head-mode {
	padding-top: 20px;
	float: left;
}

.head-mode span{
	font-size:18px;
}

.head-mode strong {
	color: #53a045;
}

.head-phone {
	padding-top: 15px;
	padding-left: 40px;
	float: left;
	font-size: 22px;
}

.head-phone span {
	font-size: 14px;
}

.head-search {
	padding-top: 10px;
}

.head-user {
	padding-top: 15px;
}

.head-cart {
	background-image: url('../img/cart.jpg');
	background-position: 70% 100%;
	background-repeat: no-repeat;
	min-height: 110px;
}

.mainmenu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #9150A0;
	background: -moz-linear-gradient(top, #d891e8, #9150A0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#d891e8), color-stop(100%,#9150A0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #d891e8, #9150A0);
    background: -o-linear-gradient(top, #d891e8, #9150A0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d891e8, #9150A0); /* IE10 */
    background: linear-gradient(top, #d891e8, #9150A0); /* CSS3 */ 
	padding: 10px 0 3px 0;
}

.mainmenu ul li{
	list-style: none;
	display: inline;
	margin-right: 20px;
}

.mainmenu a {
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
}

.mainmenu a:hover {
	text-decoration: none;
}

.cat-menu {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.cat-link {
	padding: 5px 5px 5px 10px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
}

.cat-link:last-child {
	border-bottom: 0;
}

.cat-link span {
	width: 20px;
	min-width: 20px;
}

.cat-link a {
	margin-left: 10px;
}

.links-block {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#f3f0e5;
	font-size: 14px;
	line-height: 26px;
	margin: 20px 0;
	padding: 10px;
}

.left-column {
	padding: 7px 25px 15px 0px;
}

.content-column {
	padding: 15px 0 15px 0;
}

.content-column h1 {
	font-size: 24px;
	font-weight: normal;
	margin-top: 0;
}

.content-column h6 {
	font-size: 14px;
	color: #53a045;
}

.content-column h6 span {
	font-size: 14px;
	color: #666;
	font-weight: normal;
}

.index-content {
	padding: 10px 0 0 0;
}

.inner-content {
	padding: 0;
}

.index-content p {
	margin: 8px 0 8px 0;
}
	
.news {
	margin: 20px 0 0 0;
}

.news-img {
	padding-right: 10px;
	width: 8%;
}

.news-content {
	width: 90%;
}

.news-title {
	font-size: 16px;
}

.news-title span{
	font-size: 10px;
	padding: 1px 3px;
	background: #EEEEEE;
}

.news-text {
	padding: 5px 0 10px 0;
}

.article-block {
	padding: 5px 0px;
}

.article-title {
	font-size:16px;	
}

.promotion-dates {
	color:#EE2A2A;
	font-size:16px;
}

.article-text {
	padding: 10px 0px 0px 0px;	
}

.article-text img{
	margin: 0 10px 10px 0;
}	

.article-link {
	padding: 2px 0px;
	text-align: right;
}

.tag-cloud {
	float: left;
	width: 90%;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.tag-cloud ul {
	white-space: normal;
}

.tag-cloud ul,
.tag-cloud ul li {
	display: inline;
}

.tag-cloud a {
	font-size: .83em;
	text-decoration: none;
	line-height:1.4em;
}

.tag-cloud a:hover {
	color: #9150a0;
}

/*	.tag-cloud a 	 {white-space:nowrap;}*/
.tag-cloud a.w1  { font-size: 90%; }
.tag-cloud a.w2  { font-size: 100%; }
.tag-cloud a.w3  { font-size: 120%; }
.tag-cloud a.w4  { font-size: 140%; }
.tag-cloud a.w5  { font-size: 160%; }
.tag-cloud a.w6  { font-size: 180%; }
.tag-cloud a.w7  { font-size: 200%; }
.tag-cloud a.w8  { font-size: 220%; }
.tag-cloud a.w9  { font-size: 240%; }
.tag-cloud a.w10  { font-size: 250%; }

.spec-link {
	padding:15px 0px;
	font-size: 20px;
}

.spec-link a{
	display: inline;
	margin-right: 20px;
	color: #000;
	border-bottom: 1px dotted #000;
}

.spec-link a:hover{
	text-decoration:none;
}

.spec-link a.active {
	color: #ec2a2a;
	text-decoration:none;
	border: 0;
}

.product-table td {
	vertical-align: top;
	width: 48%;
}

.product-table-card td {
	vertical-align: top;
}

.product-content {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
}

.product-image {
	padding-right: 15px;
	width: 38%;
}

.product-image img {
	width: 130px;
	min-width: 130px; 
}

.product-image-card {
	padding-right: 15px;
	width: 38%;
}

.product-image-card img {
	width: 260px;
	min-width: 260px; 
}

.product-description {
	float: left;
	width: 57%;
}

.product-cat {
	padding: 8px 0px 8px 25px;
	background-position:top left;
	background-repeat:no-repeat;
}

.product-cat a {
	color:#686868;
	font-size:11px;
}

.product-cat a:hover {
	text-decoration: none;
}

.product-title {
	font-size: 14px;
}

.product-producer {
	font-size: 11px;
	padding: 3px 0 5px 0;
}

.product-producer a {
	color: #666;
	text-transform: uppercase;
}

.product-producer a:hover {
	text-transform: uppercase;
	text-decoration: underline;
}

.product-price-no {
	text-decoration: line-through;
}

.product-price {
	color: #FF6922;
	font-size: 18px;
	padding: 2px 0 10px 0;
}

.product-exists {
	padding: 10px 0;
}

.partners {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#f3f0e5;
	margin: 15px 0;
	padding: 20px;
}

.partners-title {
	padding: 20px 20px 20px 20px;
	font-size: 16px;
	width: 10%;
}

.partners-logos {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
	padding: 5px;
	width:84%;
}

.partners-logo {
	width: 17%;
	padding: 10px;
	text-align: center;
}

.footer-content {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background: #9150A0;
	background: -moz-linear-gradient(top, #d891e8, #9150A0); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#d891e8), color-stop(100%,#9150A0));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #d891e8, #9150A0);
    background: -o-linear-gradient(top, #d891e8, #9150A0); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d891e8, #9150A0); /* IE10 */
    background: linear-gradient(top, #d891e8, #9150A0); /* CSS3 */ 
	font-size: 11px;
	padding: 5px 0 5px 0;
	text-align: center;
	color: #fff;
	
}

.popup { 
display: none;
position: fixed;
top: 50%;
left: 50%;
z-index: 1000;
overflow: auto;
height: 200px;
min-height: 200px;
width: 460px;
margin: -200px 0 0 -230px;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 6px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
background: url('../img/popupbg.png') right bottom no-repeat #F6EEE0;

}

.popup-btn {
	margin: 2px 12px; 
	float: right;
	color:#000;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	opacity: 0.3;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#popup-content {
	color: #666;
	font-size: 14px;
}
#popup-content h3 { font-size: 18px; font-weight: bold; margin: 0 0 15px 0; }

.bcl iframe
{
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;/*must have*/
        top:0px;/*must have*/
        left:0px;/*must have*/
        z-index:-1;/*must have*/
        filter:mask();/*must have*/
        width:3000px;/*must have for any big value*/
        height:3000px/*must have for any big value*/;
}
 
.cart-add {
	padding: 40px 40px 50px 40px;
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.cart-add a {
	font-size:16px;
	color: #3a6ac1;
	text-decoration: underline;
}

.cart-add a:hover {
	color:#EE2A2A;
	text-decoration: none;
}

.cart-message {
	font-size:16px;
}

.cart-message  p{
	font-size:16px;
}

.cart-message  strong{
	font-size:16px;
	color: #37c6f4;
	font-weight: normal;
}

.closed {
	display: none;
}

.advert {
	margin: 0;
	float:left;
}

.advert-buttons {
	margin: 0;
	float: left;
}

.advert .item {
	margin: 0;
}

.advert .item img {
	border:1px solid #37c6f4;
}

.adv-btn-active {
	background:url('../img/adv_icon_active.gif') no-repeat;
	cursor:pointer;
}

.adv-btn {
	background:url('../img/adv_icon.gif') no-repeat;
	cursor:pointer;
}

.advert-buttons div {
	color:#fff;
	font-size:18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	padding: 5px 0 0 8px;
	height: 28px;
	width: 33px;
}

.widgets {
	padding-left: 15px;
}

.map_links { width: 1%; }
.map_links a { width: auto; display: block; margin: 0 0 3px 0; white-space: nowrap; }
.map_sub_links {     margin: 0 0 10px 20px; }
.map_sub_links a { margin: 0 0 7px 0; }

.required { color: #EE2A2A;}
.valid { display: none;}

.tree-accept {
	display: block;
	padding: 15px 5px;
	border-top: 1px solid #AEE756;
	border-bottom: 1px solid #AEE756;
	color: #000;
	background: #E9FAD0;
	font-size: 14px;
}

.tree-error {
	display: block;
	padding: 15px 5px;
	border-top: 1px solid #EE2A2A;
	border-bottom: 1px solid #EE2A2A;
	color: #EE2A2A;
	background: #FAEBD7;
	font-size: 14px;
}

.comment{
	font-size: 11px;
}

.cut {
	font-style: italic;
	border-left: 0.2em solid #ff5500;
	padding-left: 0.5em;
	margin: 1em 1em 1em .5em;
	color:#000;
}

.cabinet-menu {
	border-left: 2px solid #EE2A2A;
	padding: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
}

.cabinet-menu span {
	color: #000;
	padding: 0 20px;
}

.alert-success1 {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 180px;
	padding: 15px;
	font-size: 14px;
}

h4 span{
	font-size:16px;
	font-weight:normal;
	padding:0;
	margin:0;
	color:#999;
}

a.delete {
	line-height: 24px;
	font-size: 20px;
	color: #EE2A2A;
}

a.delete:hover {
	text-decoration: none;
}

.cart-total {
	font-size:14px;
	text-align:right;
	padding: 5px 2px 15px 0px;
}

.cart-total strong {
	color:#FF6922;
	font-size:18px;
}

.cart-total span{
	font-size:18px;
}

#easy_zoom{
	width:400px;
	height:350px;	
	border:1px solid #ddd;
	background:#fff;
	color:#333;
	position:absolute;
	top:360px;
	left:540px;
	overflow:hidden;
	/* vertical and horizontal alignment used for preloader text */
	line-height:400px;
	text-align:center;
}

#easy_zoom img {
  max-width: none;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.zoomWrapperImage img {
  max-width: none;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

span.plusminus {
	padding-left: 5px;
}

span.plusminus input[type="text"]{
	margin-bottom: 0;
}

span.plusminus .input-mini {
	width: 25px;
	font-size: 20px;
	text-align: center;
}

span.plusminus .btn {
	font-size: 18px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}