div.map_links { width: 1%; }
div.map_links a { width: auto; display: block; margin: 0 0 3px 0; white-space: nowrap; }
div.map_sub_links {     margin: 0 0 10px 20px; }
div.map_sub_links a { margin: 0 0 7px 0; }

span.required { color: #990000;}
span.valid { display: none;}

span.tree-message {
	display: block;
	font-weight: bold;
}

div.tree-accept {
	display: block;
	font-weight: bold;
	color:#009900;
}

div.tree-error {
	display: block;
	font-weight: bold;
	color:#990000;
}



/* начало постраничный вывод */
div.nums {
	PADDING-RIGHT: 40px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 1.3em; PADDING-TOP: 0px
}
div.nums .arr {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
div.nums .active {
	BaCKGROUND-COLOR: #e8e9ec
}
div.nums .arr span {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
div.nums .arr span spav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FaMILY: Times
}
div.nums .arr span N {
	DISPLAY: none; FONT-STYLE: normal
}
div.nums .arr span i {
	DISPLAY: inline
}

div.nums .disabled {
	color: #999
}

div.nums .disabled a{
	color: #999
}

div.nums .numbers {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
div.nums .sort a {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
div.nums .numbers a {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
div.nums .numbers span {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
div.nums .sort .active {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
div.nums .sort {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.8em
}

/* конец постраничный вывод */