
# Uploads
upload/*
img/files/*
yml/*
sitemap.xml

# Configuration files
app/config/config.php
app/config/database.php
app/config/parameters.php
.htaccess

# Cache
app/cache/*
!app/cache/.gitkeep
app/backup/*
!app/backup/.gitkeep
