
# Uploads
upload/*
img/files/*
yml/shop.yml
sitemap.xml

# Configuration files
config.php
admin/lib/conf/conf.db.php
admin/lib/conf/conf.params.php

# Cache
admin/lib/cache/*
!admin/lib/cache/index.html
admin/lib/templates_c/*
!admin/lib/templates_c/index.html
templates/backup/*
!templates/backup/index.html