# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks


# Apache
#ErrorDocument 404 /404.php
DirectoryIndex index.php

<IfModule mod_php5.c>
	# PHP 
	php_value register_globals      0
	php_value error_reporting       2047
	php_value display_errors        1
	php_value magic_quotes_gpc      0
	php_value magic_quotes_runtime  0
	php_value post_max_size         50M
	php_value upload_max_filesize   50M

	# Sessions
	php_value session.auto_start        0
	php_value session.gc_probability    1
	php_value session.gc_maxlifetime    1440
	php_value session.entropy_file      /dev/urandom
	php_value session.entropy_length    32
	php_value session.use_cookies       1
	php_value session.use_only_cookies  1
	php_value session.cache_limiter     nocache
	php_flag session.use_trans_sid      off
</IfModule>
	
# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  #images
  ExpiresByType image/gif A2678400
  ExpiresByType image/jpeg A2678400
  ExpiresByType image/png A2678400

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteBase /
	RewriteRule ^index.php  - [L]

	RewriteCond %{HTTP_HOST} ^www\.colos-life\.ru$ [NC]
	RewriteRule ^(.*)$ http://colors-life.ru/$1 [L,R=301]

	# cms
	RewriteCond %{REQUEST_URI} !^/admin
	# captcha
	RewriteCond %{REQUEST_URI} !^/secureimage.php
	# base functions
	RewriteCond %{REQUEST_URI} !^/notice.php
	RewriteCond %{REQUEST_URI} !^/search.php
	RewriteCond %{REQUEST_URI} !^/map.php
	RewriteCond %{REQUEST_URI} !^/404.php
	RewriteCond %{REQUEST_URI} !^/pi.php
	# xajax
	RewriteCond %{REQUEST_URI} !^/procajax.php
	# install CMS not developed
	#RewriteCond %{REQUEST_URI} !^/install.php
	RewriteRule !\.(flv|css|zip|doc|htc|xls|ico|js|txt|ppt|pps|html|jpg|jpeg|gif|png|swf|pdf|rar|wmv|mp3|avi|tiff|7z|xml|yml)$ /index.php [L]
</IfModule>