# PHP 
php_value register_globals      0
php_value error_reporting       2047
php_value display_errors        1
php_value magic_quotes_gpc      0
php_value magic_quotes_runtime  0
php_value post_max_size         50M
php_value upload_max_filesize   50M

# Sessions
php_value session.auto_start        0
php_value session.gc_probability    1
php_value session.gc_maxlifetime    1440
php_value session.entropy_file      /dev/urandom
php_value session.entropy_length    32
php_value session.use_cookies       1
php_value session.use_only_cookies  1
php_value session.cache_limiter     nocache
php_flag session.use_trans_sid      off

# Apache
#CharsetDefault windows-1251
#ErrorDocument 404 /404.php
DirectoryIndex index.php index.htm index.html index.shtml

RewriteEngine on

RewriteBase /
RewriteRule ^index.php  - [L]

# cms
RewriteCond %{REQUEST_URI} !^/admin
# captcha
RewriteCond %{REQUEST_URI} !^/secureimage.php
# base functions
RewriteCond %{REQUEST_URI} !^/notice.php
RewriteCond %{REQUEST_URI} !^/search.php
RewriteCond %{REQUEST_URI} !^/map.php
RewriteCond %{REQUEST_URI} !^/404.php
RewriteCond %{REQUEST_URI} !^/pi.php
# xajax
RewriteCond %{REQUEST_URI} !^/procajax.php
# install CMS not developed
#RewriteCond %{REQUEST_URI} !^/install.php
RewriteRule !\.(flv|css|zip|doc|htc|xls|ico|js|txt|ppt|pps|html|jpg|jpeg|gif|png|swf|pdf|rar|wmv|mp3|avi|tiff|7z|xml|yml)$ /index.php [L]